<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> <!-- เป็นการเรียก libs jquery -->
	
	<script th:src="@{~/moji/app.js}"></script> <!-- เมื่อทำถึงนี่จะเข้าไปเรียกไฟล์ app.js -->
	<script th:src="@{~/moji/main.css}"></script>
	
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	
	
	
	<table id="filmDisplay" class="table table-bordered">
  		
	</table>
	
		title: <input type="text" id="title" /><br>
		description: <input type="text" id="description" /><br>
		releaseYear: <input type="text" id="releaseYear" /><br>
		languageId: <input type="text" id="languageId" /><br>
		originalLanguageId: <input type="text" id="originalLanguageId" /><br>
		rentalDuration: <input type="text" id="rentalDuration" /><br>
		rentalRate: <input type="text" id="rentalRate" /><br>
		length: <input type="text" id="length" /><br>
		replacementCost: <input type="text" id="replacementCost" /><br>
		rating: <input type="text" id="rating" /><br>
		specialFeatures: <input type="text" id="specialFeatures" /><br>
		
		<button type="button" class="btn btn-primary" onclick="addFilm();">submit</button>
		
</body>
</html>